<!-- <p>crypto-card works!</p> -->

<li class="commodity crypto-card" [ngClass]="cryptoCode">
  <h2 class="commodity__name">{{ crypto[cryptoCode].title }}</h2>
  <img class="commodity__pic" [src]="crypto[cryptoCode].img_url" alt="" />
  <table class="commodity__props">
    <tr class="field price">
      <td class="field__name field__name--price">price</td>
      <td class="field__value" data-set="last">{{ marketData?.last }}</td>
    </tr>
    <tr class="field price">
      <td class="field__name field__name--percent">percent change</td>
      <td class="field__value toggle percent-on">
        <!-- <label class="switch" onclick="updateChange('ETH')"> -->
        <label class="switch">
          <input type="checkbox" (input)="percentToggle($event)" /> <span class="slider round"></span>
        </label>
      </td>
    </tr>
    <tr class="field price">
      <td class="field__name field__name--secondary">hour change</td>
      <td
        class="field__value"
        data-set="hour"
        [ngClass]="{
          'field__value--negative': marketData?.changes.price.hour < 0
        }"
      >
        {{ currencySign }} {{ (marketData?.changes)[priceOrPercent].hour }}{{ percentage }}
      </td>
    </tr>
    <tr class="field price">
      <td class="field__name field__name--secondary">day change</td>
      <td
        class="field__value"
        data-set="day"
        [ngClass]="{
          'field__value--negative': marketData?.changes.price.day < 0
        }"
      >
        {{ currencySign }}{{ (marketData?.changes)[priceOrPercent].day }}{{ percentage }}
      </td>
    </tr>
    <tr class="field price">
      <td class="field__name field__name--secondary">week change</td>
      <td
        class="field__value"
        data-set="week"
        [ngClass]="{
          'field__value--negative': marketData?.changes.price.week < 0
        }"
      >
        {{ currencySign }} {{ (marketData?.changes)[priceOrPercent].week }}{{ percentage }}
      </td>
    </tr>
    <tr class="field price">
      <td class="field__name field__name--secondary">month change</td>
      <td
        class="field__value"
        data-set="month"
        [ngClass]="{
          'field__value--negative': marketData?.changes.price.month < 0
        }"
      >
        {{ currencySign }} {{ (marketData?.changes)[priceOrPercent].month }}{{ percentage }}
      </td>
    </tr>
  </table>
</li>
