.nav {
  text-align: center;
  &__link {
    color: white;
  }
}

.header {
  margin-top: 70px;
  margin-bottom: 53px;
  align-items: center;
  border-radius: 10px;
  background-color: #92e8fe02;
  border: solid 1px #92e8fe10;
  border-radius: 10px;
}

.title {
  height: 100%;
  width: calc(100% - 322px);
  min-width: 400px;
  text-align: center;
  &__text {
    opacity: 1;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
}

.currencies {
  border-radius: 5px;
  background-color: #92e8fe40;
  border: solid 0.2px #92e8fe;

  height: 55px;
  margin: 22px 24px 21px 0;
  width: 297px;
  min-width: 200px;
}
